{{#partial "content"}}
    <h1>Current Comments</h1>

    <ul>
        {{#each ideas}}
            <li>{{ title }}</li>
        {{/each}}
    </ul>

    <form action="/ideas" method="post">
        <input type="text" placeholder="Add comment" name="title">
        <button>Post</button>
    </form>
{{/partial}}


{{> base.hbs}}